__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/
*.egg-info/
.DS_Store
.idea/
.vscode/
.env
twitch_token.json
watchlist.txt
watchlist.json
ffmpeg.exe
ffprobe.exe
ffplay.exe
打包成品_*/
build/
dist/
*.spec
standby/*
!standby/.gitkeep


